In [2]:
import pandas as pd
import os
student_data_to_load = os.path.join("Resources", "students_complete.csv")
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
student_names = student_data_df["student_name"].tolist()
#student_names

In [4]:
name = "Mrs. Linda Santiago"
name

'Mrs. Linda Santiago'

In [5]:
name.split()

['Mrs.', 'Linda', 'Santiago']

In [6]:
len(name.split())

3

In [9]:
#for name in student_names:
#print(name.split(), len(name.split()))

In [10]:
students_to_fix = []
for name in student_names:
    if (len(name.split())>= 3):
        students_to_fix.append(name)
        
len(students_to_fix)

1531

In [11]:
#print(students_to_fix)

In [12]:
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
#print(prefixes)

In [15]:
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
#suffixes

In [24]:
#set(prefixes)

In [70]:
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [18]:
#for name in students_to_fix:
#    print(name.strip("Mrs."))

In [20]:
#for name in students_to_fix:
#    print(name.replace("Mrs. ",""))

In [75]:
name = "Dr. Linda Santiago"
name.replace("Dr. ", "")

'Linda Santiago'

In [91]:
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " PhD", " MD", " DDS", " DVM"]

for fixes in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(fixes, "")

student_data_df.head(10)

C:\Users\14168\AppData\Local\Temp/ipykernel_30004/824451200.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(fixes, "")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [21]:
student_names = student_data_df["student_name"].tolist()
#student_names

In [22]:
students_fixed = []
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
len(students_fixed)

1531

In [23]:
#students_fixed